$color-fondo: #480859;
$color-secundario: #d936ce;
$blanco: #ffffff;
$textos :  "Itim";
$titulos :"Jua";

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    /* background-color: violet; */
    margin: 0;
    padding: 0;
  }
  
  html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
  }

/*   .general{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  } */


  .fondoimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vw;
    background-image: url("../../public/assets/img/AboutUS/imgAboutUs.png");
    background-size: cover;
    position: relative;
  }
  
  .aboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vw;
    flex-direction: column;
    font-size: 5.5vw;
    color: $blanco;
    text-align: center;
  }
   
  .section2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #480859;
    padding-bottom: 20% ;
    position: relative;
  }

  .h2section2{
    font-size: 13vw;
    color: #d936ce;
    font-weight: lighter;
    display: flex;
  }

  .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 5vw;
  }

  .card__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .cardMargin{
    margin-top: 10vw;
  }

  .imgCard{
    margin-top: 3vw;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  figcaption{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $textos;
    color: $blanco;
    font-size: 6vw;
    text-align: center;
    margin-top: 4vw;
  }

  h2{
    font-family: $titulos;
    font-size: 10vw;
    font-weight: lighter;
  }

  h3{
    font-family: $titulos;
    font-size: 10vw;
    color: $blanco;
    font-weight: lighter;
    text-align: center;
  }

  p{
    font-family: $textos;
  }

  /* Comienzan media Queries */

  /* @media (min-width: 480px){
    .fondoimg{
      height: 70vw;
    }
    .aboutUs{
      font-size: 4.5vw;
    }
  } */

  @media (min-width: 960px){
    
    .fondoimg{
      background-size: cover;
      height: 40vw;
    }
    .aboutUs{
      font-size: 3vw;
    }
    .section2{
      height:73vw ;
      display: flex;
      position: relative;
      padding: 0%;
    }
    .h2section2{
      font-size: 8vw;
      margin-top: 4vw;
      position: relative;
    }  
    .card{
      flex-direction: column;
      width: 90%;
     /*  margin: 0; */
      display: flex;
      align-items: center;
      margin-top: 0%;
    }
    .card__container{
      width: 100%;
      display: flex;
      align-items: normal;
      flex-direction: row;
      gap: 3vw;
      text-align: center;
    }
    .cardMargin{
      margin-top: 4vw;
      margin-bottom: 4vw;
    }
    .imgCard{
      width: 15vw;
      aspect-ratio: 1;
      margin-top: 1.5vw;
    }
    .figcaption{
      font-size: 1.5vw;
      margin-top: 1.3vw;
    }
    h3{
      font-size: 4vw;
    }
  }
