/*Variables*/

$color-fondo: #480859;
$color-secundario: #d936ce;
$blanco: #ffffff;
$textos: "Itim";
$titulos: "Jua";

* {
  box-sizing: border-box;
  font-family: "Work Sans";
  background-color: #480859;
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

.container__instruments {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.drum--guitar,
.piano--saxophone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  padding: 5%;
  gap: 3%;
}

.drum--guitar {
  background-color: #d936ce;
}


.photo {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.link--page{
  width: 50%;
  padding:0;
}

.text--white {
  color: #ffffff;
  font-family: $textos;
  font-size: 9vw;
  text-align: center;
  width: 40%;
  text-decoration: 0;
  padding:0%
}

.text--pink {
  color: $color-secundario;
  font-family: $textos;
  font-size: 9vw;
  text-align: center;
  margin: 0;
  width: 40%;
  text-decoration: none;
  padding: 0%;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5%;
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: 0;
}

.footer__container--left{
  display: flex;
  justify-content: center;
  align-items: center;
  width:  5%;
  margin: 0;
}

.footer__container--right{
  display: flex;
  justify-content: center;
  widht: 5%;
  margin: 0;
}