@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Itim";
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

body {
  background-color: #480859;
}

body.no-scroll {
  overflow: hidden;
}

.container__header {
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}

.logo {
  height: 70px;
}

nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-responsive {
  display: block;
  color: #d936ce;
  padding: 5px 10px;
  border-radius: 5px;
}

nav.responsive {
  display: flex;
  right: 0;
  top: 60px;
  background-color: #480859;
  width: 100%;
}

nav.responsive ul {
  display: block !important;
  list-style: none;
}

nav.responsive ul li {
  padding: 15px 0;
}

.container__header header nav ul li a {
  text-align: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}

.menu-icon {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

/* desde aqui empiecen su csss de sus respectivos archivos (todo lo del footer tiene que ir al final antes de las media queries) */
@media (min-width: 960px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10% 0;
    margin: auto;
    position: fixed;
    z-index: 1000;
    height: 90px;
    top: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .container__header header div .logo {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .container__header header nav {
    display: flex;
    position: static; /* Restaura la posición por defecto en pantallas grandes */
    width: auto;
    height: auto;
    background-color: transparent;
    color: #480859;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    margin: 0 20px;
    text-decoration: none;
    list-style: none;
  }
  .container__header header nav ul li a {
    color: #480859;
    font-size: 20px;
  }
  .container__header header nav ul li a:hover {
    color: #d936ce;
    transform: scale(1.2);
  }
  .nav-responsive {
    display: none;
  }
  .menu-icon {
    display: none; /* Ocultar imágenes del menú de navegación */
  }
}
@media (min-width: 632px) and (max-width: 959px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0;
    margin: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
  }
  .container__header header div .logo {
    height: 85px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .container__header header nav {
    display: flex;
    position: static; /* Restaura la posición por defecto en pantallas grandes */
    width: auto;
    height: auto;
    background-color: transparent;
    color: #480859;
    justify-content: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    margin: 0 20px;
    text-decoration: none;
    list-style: none;
  }
  .container__header header nav ul li a {
    color: #480859;
    font-size: 16px;
  }
  .container__header header nav ul li a:hover {
    color: #d936ce;
    transform: scale(1.2);
  }
  .nav-responsive {
    display: none;
  }
  .menu-icon {
    display: none; /* Ocultar imágenes del menú de navegación */
  }
}


/*# sourceMappingURL=home.css.map */
