@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: "Itim";
  margin: 0;
  padding: 0;
}

html {
  /* me permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

section {
  margin: 10px 0;
}

.container__header {
  background-color: #dfe2e5;
  color: #ffffff;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.container__header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  width: 150px; /* Tamaño deseado para la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.container__header header ul {
  display: flex;
  list-style: none;
}

.container__header header nav ul li a {
  text-align: none;
  color: #ffffff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  font-size: 28px;
  text-decoration: none;
}

.container__header header nav ul li a:hover {
  color: #c7327f;
}

.nav-responsive {
  background-color: #1cb698;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* desde aqui empiecen su csss de sus respectivos archivos (todo lo del footer tiene que ir al final antes de las media queries) */
.container {
  background-color: #480859;
  width: 100%;
}

h2 {
  font-family: "Jua";
  color: #d936ce;
  font-size: 250%;
  padding-top: 3%;
  padding-left: 10%;
  padding-bottom: 3%;
  padding-right: 8%;
}

p {
  color: #ffffff;
  font-family: "Itim";
  font-size: 150%;
  padding-left: 7%;
  padding-bottom: 3%;
  padding-right: 8%;
}

.acoustic_drum {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_drum {
  width: 60%;
}

.sounds {
  display: flex;
  flex-direction: column;
}

.drums_list {
  color: #ffffff;
  font-size: 150%;
  padding-left: 35%;
}

.keyboard_cont {
  display: flex;
  justify-content: center;
}

.img_keyboard {
  width: 50%;
  height: 10%;
}

.master_keyboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

details {
  background-color: #d936ce;
  margin-bottom: 2rem;
  color: #ffffff;
  position: relative;
}

details summary {
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  list-style: none;
  margin-right: 5%;
}

details p {
  padding: 1rem;
  background: #ffffff;
  color: #480859;
}

details summary::before {
  position: absolute;
  content: "👇";
  font-size: 1.75rem;
  top: 10px;
  right: 0;
}

details[open] summary::before {
  -webkit-animation: rotate 0.6s ease-in-out both;
  animation: rotate-emoji 0.6s ease-in-out both;
}

@keyframes rotate-emoji {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.demos {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}

.demo_1,
.demo_2 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.video {
  width: 70%;
  height: 30vw;
}

footer {
  width: 100%;
  padding: 10% 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.left img {
  width: 5vw;
}

.right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.right h1 {
  font-family: "Itim";
  color: #d936ce;
  font-size: 2.5vw;
}


@media screen and (max-width: 700px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252a2e;
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
  }
}
@media (max-width: 700px) {
  .acoustic_drum {
    width: 100%;
    height: 90vh;
  }
  .img_drum {
    transform: rotate(90deg);
    transition: 1s;
    width: 80vh;
  }
  .img_keyboard {
    width: 90%;
    height: 20%;
  }
  .demos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
  }
  .demo_1,
  .demo_2 {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media (min-width: 700px) {
  .drums_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0%;
  }
  .master_keyboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
  }
  .instruction_keyboard {
    width: 25%;
  }
}

/*# sourceMappingURL=instruments.css.map */
